@import 'src/styles/lib/all-caps';
@import 'src/styles/lib/colors';

.Device {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $color-3;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.05);
}

.Device__Header {
  margin-bottom: 10px;
}

.Device__Name {
  @include all-caps();
  margin-bottom: .2em;
  font-size: 18px;
  color: $color-6;
}

.Device__ID {
  font-size: 12px;
  letter-spacing: 0.05em;
}
