@import 'src/styles/lib/grid-background';
@import 'src/styles/lib/colors';
@import 'src/styles/lib/all-caps';

.Screen {
  @include grid-background(
    5px,
    1px,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03)
  );

  height: 100%;
  padding: 40px 20px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.Screen__Content {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.Screen__Title {
  @include all-caps;
  margin-bottom: 30px;
  color: $color-5;
  text-align: center;
}
