@import 'lib/colors';

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
}

html,
body,
#root {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
}

body {
  background-color: $color-0;
  color: $color-4;
  text-shadow: 0 0 100px $color-4;
  font-family: Roboto;
  line-height: 1;
}

button {
  background-color: transparent;
  color: currentColor;
}

ul {
  list-style: none;
}
